body {
  background-image: url("../img/chevron.png");
  padding-top: 5%;
}

.formcontainer {
  background-color: white;
}

.navbar-brand {
  margin-left: 0.75%;
}

.navbar-brand:hover {
  color: rgba(255, 255, 255, 0.8);
}

.kembali {
  float: right;
  position: relative;

  /* margin-right: 8.5%; */
  margin-top: -6.8%;
  z-index: 11;
}
